<%=form_tag words_path, method: :get do %>

  <label for="query">Enter your scrambled letters</label>
  <input type="search" name="query" id="query">
  <input type="submit" value="Search words">

<% end %> 